div(class="address-div", id=addressData.addressDivId)
    img(src="img/photo1.png", alt="photo1")

    p.address-div-name= addressData.name
    p.address-div-phone= addressData.phone
    p.address-div-address= addressData.address
    p Groups

    input(type="image", src="img/edit.jpg", alt="edit", class="button-edit")
    input(type="image", src="img/delete.jpg", alt="delete", class="button-delete")
