/* general */
body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 0.01em;
    color: #4e4848;
}

.margin-0 {
    margin: 0;
}

.h2 {
    padding: 1.3em;
    letter-spacing: 0.03em;
}

.outline-none {
    outline: none;
}

.border {
    border: 1px solid #a26b6b;
    border-radius: 2px;
}

.bg-gray {
    background: #e8e8e8;
}

.relative-margin {
    position: relative;
    margin: 0 auto 1em;
}

input[type="checkbox"] {
    position: relative;
    top: 0.2em;
    width: 1.2em;
    height: 1.2em;
}

/* header */
.header {
    margin-bottom: 2em;
    background: #93224b;
    position: relative;
}

.header__h1 {
    padding: 1.2em 0 1.8em 2em;
    letter-spacing: 0.03em;
    color: #fff;
}

.form-find-sort {
    position: absolute;
    bottom: 0.7em;
    right: 0.7em;
}

.form-find-sort__find {
    margin-right: 1em;
    padding: 5.2px;
    font-size: 0.9em;
}

.form-find-sort__sort {
    padding: 4.7px;
    font-size: 0.9em;
}

/* addresses */
#addresses-wrapper {
    position: absolute;
    left: 3%;
    width: 60%;
}

.address-form-wrapper__text {
    padding: 6em;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    line-height: 2em;
    color: #93224b;
    display: block;
}

#addresses-header {
    position: relative;
}

.button-add-address {
    position: absolute;
    top: 1.8em;
    right: 7%;
    padding: 0.7em;
    font-size: 0.95em;
    background-color: #93224B;
    color: #fff;
}

.add-address-fields {
    position: absolute;
    right: 10%;
    padding: 5.2px;
    font-size: 0.9em;
    border: 1px solid #5a4f4f;
    border-radius: 2px;
    width: 45%;
}

.address-form-add,
.address-form-edit {
    padding: 2.2em 4em;
    display: none;
}

.address-form-add__text {
    padding-bottom: 1em;
    color: #ff0000;
    font-weight: 700;
    display: none;
}

.address-div {
    padding: 1em 4em;
}

.address-div__text {
    margin-bottom: 0.4em;
}

.add-to-group__checkbox {
    margin-bottom: 0.8em;
}

.input-div {
    height: 2.5em;
}

.input-label {
    position: relative;
    top: 0.3em;
}

.button-edit {
    position: absolute;
    top: 2.5em;
    right: 16.5em;
}

.button-delete {
    position: absolute;
    top: 2.5em;
    right: 14em;
}

.button-save,
.button-edit-save {
    position: absolute;
    bottom: 2.5em;
    left: 60%;
}

.button-cancel,
.button-edit-cancel {
    position: absolute;
    bottom: 2.5em;
    left: 70%;
}

/* GROUPS */
#groups {
    position: absolute;
    right: 3%;
    width: 25%;
}

#group-choice {
    padding: 2em;
}

#group-choice p {
    margin: 0;
}
