body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #4e4848;
    letter-spacing: 0.01em;
}

h1, h2 {
    margin: 0;
    letter-spacing: 0.03em;
}

h1 {
    padding: 1.2em 0 1.8em 2em;
    color: #fff;
}

h2 {
    padding: 1.3em;
}

input[type="button"],
input[type="text"],
div #heading form select {
    outline: none;
}

input[type="button"] {
    padding: 0.4em 0.9em;
    font-size: 0.9em;
    background: #ececec;
}

input[type="button"]:hover {
    background: #dcdcdc;
}

input[type="checkbox"] {
    position: relative;
    top: 0.2em;
    width: 1.2em;
    height: 1.2em;
}

div #heading {
    margin-bottom: 2em;
    background: #93224b;
    position: relative;
}

div #heading form {
    position: absolute;
    bottom: 0.7em;
    right: 0.7em;
}

input[type="button"],
div #heading form input[type="text"],
div #heading form select {
    border: 1px solid #5a4f4f;
    border-radius: 2px;
}

div #heading form input[type="text"] {
    margin-right: 1em;
    padding: 5.2px;
    font-size: 0.9em;
}

div #heading form select {
    padding: 4.7px;
    font-size: 0.9em;
}

#button-add-address {
    position: absolute;
    top: 1.8em;
    right: 7%;
    padding: 0.7em;
    font-size: 0.95em;
    background-color: #93224B;
    color: #fff;
}

/* ADDRESSES */
div #addresses {
    position: absolute;
    left: 3%;
    width: 60%;
}

div #addresses-heading {
    position: relative;
}

div .address-div,
div .address-form,
div #groups {
    background: #e8e8e8;
}

div .address-div,
div .address-form {
    position: relative;
    margin: 0 auto 1em;
}

div .address-div p,
div .address-form p {
    margin: 0.5em 0 0.5em 4em;
}

div .address-form .input-field {
    margin: 0.5em 0 1.1em 4em;
    line-height: 1.8em;
}

div .address-form .checkbox {
    margin: 0 0 0.4em 5em;
}

div .address-div > img + p,
div .address-form > img + p {
    padding-top: 3em;
    font-weight: 600;
}

div .address-div p:last-of-type,
div .address-form p:last-of-type {
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.button-edit,
.button-delete,
.button-save
{
    outline: none;
}

.button-edit {
    position: absolute;
    top: 2.5em;
    right: 16.5em;
}

.button-delete {
    position: absolute;
    top: 2.5em;
    right: 14em;
}

.button-save {
    position: absolute;
    bottom: 2.5em;
    left: 60%;
}

.button-cancel {
    position: absolute;
    bottom: 2.5em;
    left: 70%;
}


div .address-div img,
div .address-form img {
    position: absolute;
    top: 20%;
    right: 3em;
}

/* GROUPS */
div #groups {
    position: absolute;
    right: 3%;
    width: 25%;
}

div #group-choice p {
    margin: 0.5em 0 0.5em 3.5em;
}

div #group-choice p:first-of-type {
    margin-top: 1em;
}

div #group-choice p:last-of-type {
    margin-bottom: 2.5em;
}


.address-form input[type="text"] { /* class! */
    position: absolute;
    right: 10%;
    padding: 5.2px;
    font-size: 0.9em;
    border: 1px solid #5a4f4f;
    border-radius: 2px;
    width: 45%;
}

/*  */
#addFirstAddressText {
    padding: 0 0 0 2.1em;
    font-style: italic;
    font-weight: 400;
    color: #93224b;
    display: block;
}

#fill-in-fields-text {
    padding-top: 2.5em;
    color: #ff0000;
    font-weight: 700;
    display: none;
}

#addressForm {
    display: none;
}
