body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    letter-spacing: 0.01em;
    color: #4e4848;
}

.header {
    margin-bottom: 2em;
    background: #93224b;
    position: relative;
}

.header__h1 {
    margin: 0;
    padding: 1.2em 0 1.8em 2em;
    letter-spacing: 0.03em;
    color: #fff;
}

.form-find-sort {
    position: absolute;
    bottom: 0.7em;
    right: 0.7em;
}

.addresses-header__button,
.form-find-sort__find,
.form-find-sort__sort {
    border: 1px solid #5a4f4f;
    border-radius: 2px;
}

.form-find-sort__find {
    margin-right: 1em;
    padding: 5.2px;
    font-size: 0.9em;
}

.form-find-sort__sort {
    padding: 4.7px;
    font-size: 0.9em;
}

addresses-header__heading,
h2 {
    margin: 0;
    padding: 1.3em;
    letter-spacing: 0.03em;
}

.addresses-header__button,
.form-find-sort__find,
.form-find-sort__sort {
    outline: none;
}

input[type="checkbox"] {
    position: relative;
    top: 0.2em;
    width: 1.2em;
    height: 1.2em;
}


#button-add-address {
    position: absolute;
    top: 1.8em;
    right: 7%;
    padding: 0.7em;
    font-size: 0.95em;
    background-color: #93224B;
    color: #fff;
}

/* ADDRESSES */
#addresses-wrapper {
    position: absolute;
    left: 3%;
    width: 60%;
}

div #addresses-header {
    position: relative;
}

div .address-div,
.address-form-add,
div #address-form-edit,
div #groups {
    background: #e8e8e8;
}

div .address-div,
.address-form-add,
div #address-form-edit {
    position: relative;
    margin: 0 auto 1em;
}

div .address-div p,
.address-form-add p,
div #address-form-edit p {
    margin: 0.5em 0 0.5em 4em;
}

.address-form-add .input-field,
div #address-form-edit .input-field {
    margin: 0.5em 0 1.1em 4em;
    line-height: 1.8em;
}

.input-field-first {
    padding: 2.2em 0 0;
}

div #address-form-edit .checkbox,
.address-form-add .checkbox {
    margin: 0 0 0.4em 5em;
}

div .address-div p:last-of-type,
.address-form-add p:last-of-type,
div #address-form-edit p:last-of-type {
    margin-bottom: 1em;
    padding-bottom: 2em;
}

div .address-div img,
.address-form-add img {
    position: absolute;
    top: 20%;
    right: 3em;
}

div .address-div > img + p,
.address-form-add > img + p,
div #address-form-edit > img + p {
    padding-top: 3em;
    font-weight: 600;
}

.button-edit,
.button-delete,
.button-save,
.button-edit-save
{
    outline: none;
}

.button-edit {
    position: absolute;
    top: 2.5em;
    right: 16.5em;
}

.button-delete {
    position: absolute;
    top: 2.5em;
    right: 14em;
}

.button-save,
.button-edit-save {
    position: absolute;
    bottom: 2.5em;
    left: 60%;
}

.button-cancel,
.button-edit-cancel {
    position: absolute;
    bottom: 2.5em;
    left: 70%;
}

/* GROUPS */
div #groups {
    position: absolute;
    right: 3%;
    width: 25%;
}

div #group-choice p {
    margin: 0.5em 0 0.5em 3.5em;
}

div #group-choice p:first-of-type {
    margin-top: 1em;
}

div #group-choice p:last-of-type {
    margin-bottom: 2.5em;
}


.address-form-add input[type="text"], /* class! */
#address-form-edit input[type="text"] { /* class! */
    position: absolute;
    right: 10%;
    padding: 5.2px;
    font-size: 0.9em;
    border: 1px solid #5a4f4f;
    border-radius: 2px;
    width: 45%;
}

/*  */
.address-form-wrapper__text {
    padding: 0 0 0 2.1em;
    font-style: italic;
    font-weight: 400;
    color: #93224b;
    display: block;
}

.address-form-add__text {
    padding-top: 2.5em;
    color: #ff0000;
    font-weight: 700;
    display: none;
}

.address-form-add {
    display: none;
}

#address-form-edit {
    display: none;
}
